/* GENERAL */
* {
  box-sizing: border-box;
}
body {
  font-family: Ts-Reg, sans-serif;
  padding-left: 16%;
  padding-right: 16%;
}
.container {
  width: 1135;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 20px;
}

.container p {
  margin-bottom: 24px;
}
.first-part {
  color: rgb(107, 107, 107);
}
.second-part {
  text-decoration: underline;
  color: rgb(107, 107, 107);
}

button {
  font-size: inherit;
  font-family: inherit;
  /* border: 1px solid red; */
}

.explore-text {
  color: #ff5d5d;
  font-size: 50px;
  font-weight: bold;
}
.explore-city {
  font-size: 50px;
  font-weight: bold;
}
/* HEADER */
/* nav {
  background-color: #ff5d5d;
} */
header {
  height: 50px;
  /* border: 1px solid red; */
  margin: 24px 0 24px 0;
}
header > div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav {
  /* border: 1px red solid; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
header nav :is(a, button) {
  padding: 7px 10px;
  border-radius: 20px;
  /* border: 1px solid black; */
}
header img {
  height: 40px;
}
header button {
  background-color: black;
  color: white;
}
header a:hover {
  background-color: #c3bebe;
}
header button:hover {
  opacity: 0.5;
  /* background-color: rgba(0, 0, 0, 0.597); */
}
/* MAIN */

.menu {
  /* border: 1px solid red; */
  /* height: 30px; */
  display: flex;
  gap: 10px;
}
.menu div {
  border: 1px black solid;
  width: calc((100% - 50px) / 6);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* Pictures Box */

.pictures-box {
  /* border: 1px solid black; */
  height: 430px;
  display: flex;
  /* Espace entre les enfants */
  gap: 2px;
  margin-bottom: 24px;
}

.pictures-box div:first-child {
  /* background-color: blue; */
  height: 100%;
  flex: 1;
}
.pictures-box div:last-child {
  /* background-color: green; */
  height: 100%;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pictures-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pictures-box div:last-child div {
  /* border: 1px solid red; */
  height: calc((100% - 2px) / 2);
}
/* TEXT */
.article-paris {
  color: rgb(107, 107, 107);
  border: 1px solid red;
}
.bottom-container {
  display: flex;
}

.paris-box h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}
.paris-description {
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
}
.map-description {
  background-color: #ff5d5d;
  width: 29%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.map-description h3 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 24px;
}
.map-description p {
  font-size: 14px;
  margin-left: 24px;
  margin-top: 24px;
  margin-right: 24px;
}
.map-description button {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
}
.map-description img {
  display: block;
  max-height: 200px;
  max-width: 700px;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}
/* .map-description img { */
/* width: 500px;

*/

/* } */
/* entertainment */
/* .entertaiment {
  border: 1px black;
  height: 300px;
  display: flex;
} */
